.no-mar-h {
	margin-left: 0px;
	margin-right: 0px;
}
.no-pad-h {
	padding-left: 0px;
	padding-right: 0px;
}
h5 {
	color: #ACACAC;
	text-decoration: line-through;
}
ul,ol,li {
	list-style-type: none;
	margin-bottom: 0px;
}
a:hover, a:focus {
	text-decoration: none;
}
body {
	background: #F5F5F5;
}
footer {
	border-top: 1px solid #E1E1E1;
	background-color: white;
	color: #898989;
}
footer .row.info {
	padding: 40px 0px;
}
footer .row.copyright {
	border-top: 1px solid #E1E1E1;
	padding: 24px 0px;
}
footer .row.copyright .author {
	line-height: 30px;
}
footer .row > .container {
	padding-left: 0px;
	padding-right: 0px;
}
footer .header {
	margin: 0 0 15px;
	padding: 0;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	text-transform: uppercase;
	color: #252525;
}
footer .payments > a {
	margin-left: 5px;
}
footer .glyphicon:before {
	color: #F16C52;
	margin-right: 10px;
}
footer .info .more > span {
	display: table-cell;
}
footer .info .menu .item {
	display: block;
	line-height: 36px;
}
footer .info .menu a {
	color: #898989;
}
footer .info .menu a:hover {
	color: #F16C52;
}
.top-header {
	background: black;

}
.top-header ul {
	padding: 0px;
	margin: 0px;
}
.top-header ul li {
	float: left;
}
.top-header ul li:first-child a {
	border-right: none;
}
.top-header ul li a {
	display: block;
	padding:10px 20px;
	color: #acacac;
	border-left: 1px solid #363636;
	border-right: 1px solid #363636;
}
.top-header ul li a:hover {
	color: #e47b66;
}
.input-group {
	margin-top: 50px;
	margin-left: 60px;
}
.input-group .form-control {
	height: 45px;
}
.logo-left {
	margin-top: 20px;
}
.btn.orange {
	background: #F16C52;
	border-color: #F16C52;
	height: 45px;
	width: 50px;
}
.btn.cart {
	width: 110px;
	height: 45px;
	margin-top: 50px;
	margin-left: 158px;
}
.btn.round {
	border-radius: 500rem;
}

/*nav*/
.nav-main-menu {
	margin-top: 30px;
	border-top: 1px solid #E1E1E1;
	border-bottom: 1px solid #E1E1E1;
}
.nav-main-menu ul li {
	display: inline;
	overflow: hidden;
	padding: 4px 10px;
}
.nav-main-menu ul li a {
	text-transform: uppercase;
	color: #252557;	
	line-height: 40px;
	padding:10px 20px;
}
.nav-main-menu ul li a:hover {
	color: #F16C52;
}
.nav-main-menu ul li a.active {
		color: #F16C52;
}
.list-left-menu {
	background: #252525;
	width: 100%;
	height: auto;
	line-height: 21px;
}

.list-left-menu ul li a {
	display: block;
	padding: 13.5px 20px;
	color: #ACACAC;
	border-bottom: 1px solid #363636;

}
.list-left-menu ul li a:hover {
	color: #F16C52;
}

h2 {
	background: #F16C52;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 45px;
	color: white;
	padding-left:20px;
}
.content-slider {
	width: 570px;
	height: 380px;
	margin-top: 20px;
}
.banner {
	margin-top: 30px;
}
.content-right-product {
	height: 601px;
	width: 250px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	border: 1px solid #E9E9E9;
}
.content-headding-right p{
	background: #F16C52;
	width: 100%;
	line-height: 35px;
	padding: 13px 15px;
	color: white;
}
.content-right img {
width: 90%;
margin-left: 20px;
margin-top: -10px;
margin-bottom: -10px;
}
.mid-box-content-container {
	margin-top: 32px;
}
.list-left {
	height: auto;
	background: #FFFFFF;
	border: 1px solid #E9E9E9;
}
.list-right {
	height: auto;
	border: 1px solid #E9E9E9;
	width: 100%;
}
.list-right-two {
	height: auto;
	width: 100%;
	background: #FFFFFF;
}
.list-support {
	height: auto;
	background: #FFFFFF;
	width: 100%;
	border: 1px solid #E9E9E9;
}
.text-top-img p {
	text-align: center;
}
.content-right {
	border-bottom: 1px solid #E9E9E9;
}
.bottom-img img {
	width: 80%;
	margin-left: 30px;
}
.list-top-img img {
    margin-top: -10px;
}
/*.left-top-img img {
	display: inline-block;
}*/
  .text-img-sanpham p{
  	background: no-repeat;
  	color: black;
  	text-align: center;
  }
  .sanpham {
margin-top: -10px;
    border-top: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
    border-left: 1px solid #E9E9E9;
    /* margin-bottom: -10px; */
    display: inline-block;
}
.text-img-sanpham  p{
	/* border-right: 1px solid #E9E9E9;*/
    /*width: 70%;*/
    color: #F76C52;
}
.text-img-sanpham a {
	color: black;
}
.text-img-sanpham a:hover {
	color: #F16C52;
}
.text-img-sanpham img:last-child {
	border-right: none;
}
.sanpham-content img {
    width: 100%;
}
.tuvan p {
	background: no-repeat;
	margin-top: -20px;
	color: #AFAFAF;
}
.list-news {
    border: 1px solid #AFAFAF;
    margin-top: 20px;
}

.sanpham {
	width: 20% !important;
}
.text-cl {
	text-decoration: line-through;
	color: #ACACAC;
}
.col-text {
	color: #363636;
}
.tuvan p {
    line-height: 1em;
    margin-left: 30px;
 }
 .tuvan-text p {
 	color: #AFAFAF;
 }
 .tuvan-name p {
 	color: #898989;
 }

.list-ul-li ul li  {
display: inline;
padding: 10px 11px;
line-height: 61px;
overflow: hidden;
}
.list-ul-li {
	background: #F16C52;
	margin-right: 15px;
}
.list-ul-li ul li a {
	color: white;
}
.list-ul-li ul li a:hover {
	color: #FCCF4D;
}
.content-col-9 {
	margin-left: -30px;
}
.img-hoatuoi img {
	width: 90%;
	margin-left: 10px;
}
.hoatuoi-text p {
    background: white;
    color: black;
    margin-top: -20px;
 }
 .date-time {
 	margin-left: 15px;
	margin-top: -30px;
 }
 .date-time li {
  	    float: right;
	    margin-left: 10px;
    	margin-top: -3px;
}
#icon-comment {
	margin-left: 27px;
}
.text-camhoa {
	text-align: justify;
	padding: 10px;
}
.box-main-online {
	border: 1px solid #E9E9E9;
	width: auto;
	height: auto;
	padding: 5px;
	background: #FFFFFF;
	margin-top: 20px;
}
.top-follow ul li {
	color: #F16C52;
	text-transform: uppercase;
	border-bottom: 1px solid #F16C52;
}
.top-heading-12 {
	background: #F16C52;
	width: 100%;
	line-height: 60px;
	margin-top: 30px;
}
.top-heading-12 p {
	color: white;
}